* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffe600;
    padding: 8px 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1220px;
}

.btn-primary {
    color: #fff;
    background-color: #3483fa;
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding: 14px 0;
    border-radius: 4px;
}
