
.product-content {
    overflow: hidden;
    
    img {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .description-title {
        font-size: 28px;
        margin: 32px 0;
    }

    .item-description {
        font-size: 16px;
        margin: 0;
    }
}